[2017-05-20 13:28] dmpas opened #2 "Перенос функционала"
* [x] ExportAllToXML

* [x] ExportToXML

* [x] BlobToFile

* [x] ParseBlob

* [x] DumpConfig

* [x] DumpDBConfig

* [x] DumpVendorsConfigs

* [x] DumpAllConfigs

* [x] DumpDepotConfig

* [x] DumpPartDepotConfig

[2017-05-23 07:52] dmpas opened #4 "Тесты"
@artbear ты обещал тесты :) есть мысли, как тестить?

[2017-05-26 05:47] andreevlex opened #5 "Поправить кодировку в файлах проекта"

[2017-05-26 05:51] andreevlex commented on #5
в ветке master кодировка комментариев не подходящая для github

[2017-05-26 05:54] dmpas commented on #5
Кодировка исправлена в девелопе. В мастере сейчас всё в исходном виде и так и останется до вливания девелопа.

[2017-05-26 05:54] #5 closed

[2017-05-26 06:02] andreevlex commented on #2
Помощь нужна?

[2017-05-26 06:04] dmpas commented on #2
@andreevlex  да я б не отказался :)
тут у нас гиттер для общения: https://gitter.im/Tool_1CD/Tool_1CD

[2017-05-27 15:15] andreevlex opened #8 "Сделать help в стиле man страниц"
Предлагаю сделать help по примеру man страниц.
[code]
Сокрощенный вариант и полный в одну строку через запятую.
Так же можно и man-страницу саму сделать.

[2017-05-31 18:49] andreevlex opened #16 "Избавиться от define в файлах (h, cpp)"
Заменить define определения литералов на константы
Макро-функции заменить на функции
Для общих констант определить общий заголовочный файл

[2017-05-31 18:53] dmpas commented on #16
с MAX и MIN бывают косяки, когда аргументы разного типа. В случае с макросом получается просто предупреждение (если знаковость разная), а в случае с std::min и std::max получается настоящая ошибка, что функция для таких типов не определена.

[2017-05-31 18:54] andreevlex opened #17 "Разбить файлы Class_1CD(h, cpp) на более мелкие"
Для общих объектов и структур создать один заголовочный файл
Каждый класс перенести в отдельную пару файлов (h, cpp)

[2017-05-31 19:02] andreevlex commented on #16
Это тогда получается неявное приведение типов... Надо где возможно явно объяснить компилятору, что мы от него хотим.

[2017-05-31 19:03] dmpas commented on #16
Надо быть готовым к тому, что таких мест будет много.

[2017-05-31 19:19] andreevlex opened #18 "Исправить предупреждения при сборке x64-Linux"
SystemClasses/TMemoryStream.cpp|32|предупреждение: сравнение знакового и беззнакового целых выражений [-Wsign-compare]|
SystemClasses/TStream.cpp|83|предупреждение: сравнение знакового и беззнакового целых выражений [-Wsign-compare]|

[2017-06-01 05:59] andreevlex commented on #16
Для MIN, MAX можно шаблон замутить со специализацией.
Проверка типов будет при компиляции

[2017-06-02 13:28] andreevlex opened #22 "Заменить магические числа на константы"
Заменить магические числа на константы.
В идеале в коде должны остаться 0, 1, -1

[2017-06-02 13:31] andreevlex opened #23 "Определить общий тип хранения строки и строковых литералов"
Какие строки будем использовать?
1. Широкие L""
2. UTF-8

[2017-06-02 13:41] fishca commented on #23
1C использует UTF-8 думаю есть смысл их и использовать

[2017-06-02 13:42] fishca commented on #22
Ты про какие числа ведешь речь?

[2017-06-02 13:45] andreevlex commented on #23
насколько я осведомлен внутри себя использует UTF-16.

[2017-06-02 13:47] andreevlex commented on #22
Вот тут 60 и 1000 - это магические числа
[code]

[2017-06-02 13:57] andreevlex commented on #23
парсить, то сами файлы 1с-ки мы будем как здесь задано текущим кодом.
Я предлагаю для:
 - сообщений пользователям
 - записи в логи и т.д.

Проект под винду собирается с настройками "многобайтовая unicode"

[2017-06-02 14:00] dmpas commented on #23
Нафиг-нафиг многобайтовый уникод. В си++ всё же принят обычный string. Винда-невинда - огребём на двоякости кода.

[2017-06-02 14:02] andreevlex commented on #18
Тут  SystemClasses/TMemoryStream.cpp|32|
m_position `int64_t`, а _data.size() `size_t`
[code]

[2017-06-02 14:18] dmpas commented on #18
Напомню на всякий случай, что от систем.классес по возможности надо отказываться, и фиксить только при необходимости.

[2017-06-02 14:20] andreevlex commented on #18
хорошо, максимально игнорим system.clases

[2017-06-02 14:45] andreevlex commented on #18
@dmpas на что будем менять TStream и ему подобные. В буст есть чего?

[2017-06-02 14:51] dmpas commented on #18
iostream, fstream. по обстоятельствам.

[2017-06-03 11:29] andreevlex opened #26 "Удалить закомментированный код"

[2017-06-04 06:57] andreevlex opened #28 "Неявное приведение типов размера данных при распаковке"
Как-то все это выглядет не правильно
srcSize - типа uintmax_t
src->GetSize() возвращает тип int64_t
src->Read(srcBuf, srcSize) принимает 2-м параметром тип int64_t

ctool1cd/UZLib.cpp
[code]

[2017-06-04 10:07] andreevlex commented on #28
Для для задания размерной величины предлагаю тип size_t, его используют стандартные контейнеры,да и вообще рекомендуют для этих целей.

[2017-06-04 10:34] dmpas commented on #28
`int64_t` был введён в SystemClasses только согласно документации от Embarcadero. От SystemClasses мы откажемся, потому сейчас это не принципиально. В остальных местах нужно попутно приводить к `size_t`.

[2017-06-04 11:59] andreevlex commented on #28
Кто же у них пишет документацию? Рекомендуют тип со знаком для указания размера списка...
Надо планировать замену dynamic array.

[2017-06-04 12:20] dmpas commented on #28
Наследие паскаля - там не особо-то принято пользоваться беззнаковыми типами.

[2017-06-04 17:14] #26 closed

[2017-06-05 06:40] andreevlex commented on #16
`#define CHUNK 65536` есть, а ни где в APIcfBase.cpp и Class_1CD.cpp, ConfigStorage.cpp не используется. Удалю?

[2017-06-05 06:54] dmpas commented on #16
Удаляй.

[2017-06-05 09:31] andreevlex commented on #16
Нам это надо? CRC32 в проекте нет.
[code]

[2017-06-05 09:37] dmpas commented on #16
поглядывай время от времени в ветку master - там почти нетронутые исходники, там можно увидеть, использовался ли вообще CRC32. Скорее всего при вычленении консольной части оно стало не нужно, но с перспективой на то, что когда-нибудь мы снова будем прикручивать гуй, придётся обратно вкручивать и подобные куски. Так что глянь мастер, посмотри, как там оно использовалось, и реши - выпилить нафиг или

[2017-06-05 09:46] andreevlex commented on #16
в master вызов _crc32 находится в закомментированном коде.
Удалю закомментированный код(прогладел) и этот #ifndef с файлами CRC32.*

[2017-06-05 12:49] andreevlex opened #30 "Оценить необходимость использования кода проверки наличия snapshot нужной версии конфигурации"
Class_1CD.cpp
[code]

[2017-06-05 16:56] andreevlex commented on #16
вот этого define реально очень много.
[code]
Надо подумать как заменить глобальный error
1. Глобальная функция с параметром `String& message`
2. Хранить ссылку на MessageRegistrator в каждом классе
3. Создать абстрактный класс, который содержит MessageRegistrator и сделать метод error

[2017-06-05 17:40] awa15 commented on #30
1с умеет создавать в хранилище снэпшоты (уже выгруженная из хранилища конфигурация какой-либо версии). Если такой снэпшот существует, то выгрузка конфирации этой версии из хранилища сильно ускоряется. Но в последних версиях хранилища формат снэпшота изменился, с ним я не разобирался. Закомментированный код вполне рабочий, просто надо его запускать только для определенных версий формата хранилища,

[2017-06-05 18:01] andreevlex commented on #30
CRC32.h
[code]
CRC32.cpp
[code]

[2017-06-06 06:39] dmpas commented on #30
@awa15 а не подскажешь эти версии?

[2017-06-06 08:57] andreevlex commented on #16
По идее регистратор сообщений должен быть один на всю программу.

согласен

Мысль не уловил.

[2017-06-06 09:02] dmpas commented on #16
Одиночка - опасный шаблон.

Передавать не нуллптр, а экземпляр класса, который ничего не делает (тот же MessageRegistration)

[2017-06-06 09:14] andreevlex commented on #16
А почему ничего не делает? мы не хотим регистрировать данные ошибки?

[2017-06-06 09:15] dmpas commented on #16
само по себе условие
[code]

предполагает, что мы ничего не делаем, если там `nullptr`. Соответственно, если вызывающий код передаёт `nullptr`, он хочет, чтобы ошибки не регистрировались - это поведение мы и хотим сохранить.

[2017-06-06 09:19] andreevlex commented on #16
ааа понял.

[2017-06-06 10:37] fishca opened #32 "Не производится выгрузка данных blob (HISTORY, EXTERNALS ...) при использовании ключа -eax"
Создаются пустые файлы данных при выгрузке с ключем "-eax" в каталог blob размером в 16 байт.
![06_06_1](https://cloud.githubusercontent.com/assets/1484649/26825205/cd41be74-4abc-11e7-9f1f-b6fa6b5bd84e.png)

[1cv8ddb.zip](https://github.com/dmpas/tool1cd/files/1054653/1cv8ddb.zip) - файл хранилища 1С

[2017-06-06 10:47] fishca commented on #32
![06_06_1](https://cloud.githubusercontent.com/assets/1484649/26825645/86f08d2c-4abe-11e7-9935-fab5f8f9e5fe.png)

[2017-06-06 10:47] dmpas commented on #32
Забавно.

[2017-06-06 10:58] andreevlex commented on #32
Мы при распаковке добавили проверку на ошибку потока, вот теперь выгрузка идет, а данные по факту не выгружаются.

[2017-06-06 12:16] awa15 commented on #30
Всё это работало вплоть до шестой версии хранилища. Сломалось в седьмой. Я ща чуть-чуть глянул, походу всё изменение формата снэпшота заключается в том, что вплоть до шестой версии снэпшот - это файл конфигурации, дополнительно сжатый deflate'ом, а в седьмой версии - это просто готовый файл конфигурации. Т.е. начиная с седьмой версии не надо делать inflate.
Это, конечно, нужно проверять, потому чт

[2017-06-06 12:31] dmpas commented on #30
@awa15 большое спасибо!

[2017-06-08 19:37] andreevlex commented on #32
Кажется нашел!!!
`Class_1CD.cpp`
`bool Field::save_blob_to_file(char* rec, String _filename, bool unpack)`
[code]
Вот тут на вход zlib подается уже распакованный массив байт
код выше ожидает исключение, а его zlib не бросает, в итоге в выходной файл получается пустым.

[2017-06-09 06:17] dmpas commented on #32
Пробовал бросить исключение?

[2017-06-09 06:36] andreevlex commented on #32
да, и blobs не пустые стали.

[2017-06-09 13:48] andreevlex commented on #32
@dmpas Надо переписывать код вида
[code]
Предлагаю, сделать `ZInflateStream` чтобы возвращала `bool` и `try` заменить на `if() else`

[2017-06-09 13:52] dmpas commented on #32
Согласен, не дело отлавливать вообще все ошибки, если в частности мы можем отработать только одну.

[2017-06-09 14:16] fishca commented on #32
здесь надо понять почему так получается.
у @awa15 код жеж работает, насколько я понимаю.
похоже где-то у нас логическая ошибка, я вчера в первоисточнике смотрел, код один в один.

[2017-06-09 14:19] dmpas commented on #32
Логика простая. Мы не знаем точно, какие данные запакованы, а какие нет. Потому просто пытаемся паспаковать всё. Если распаковалось -  было упаковано. Если нет - данные уже как есть.

[2017-06-11 08:34] andreevlex commented on #22
Как назвать это скопление чисел?
[code]
[code]

[2017-06-11 09:18] awa15 commented on #22
Как назвать, думайте сами, смысл тут такой: FILETIME начинается с даты 01.01.0401, а время 1С начинается с даты 01.01.0001. Тут расписан расчет дельты в 400 лет с учетом високосных для перевода времени из формата 1С в формат FILETIME.

[2017-06-11 13:25] andreevlex commented on #22
@awa15 400 лет выраженных в секундах?

[2017-06-11 13:53] awa15 commented on #22
Нет. В секундах - это без последнего коэффициента 10000. 1Сное время - это количество стомикросекундных интервалов, начиная с 01.01.0001 0:00:00. А FILETIME - это количество стонаносекундных интервалов, начиная с 01.01.0401 0:00:00. Т.е. при переводе времени туда-сюда, кроме смещения в 400 лет, надо ещё на 1000 делить/умножать.

[2017-06-11 14:32] andreevlex commented on #22
Да, тут трудно дать название.
Мучают меня сомнения по этой цифре
[code]
получается не 400 лет, а `400 * 4 = 1600 (лет)`

4 столетия = `12622780800` секунд

[2017-06-11 14:41] awa15 commented on #22
А, ну да. Это с моей памятью что-то не то))
FILETIME начинается с 01.01.1601, конечно же!

[2017-06-11 14:46] awa15 commented on #22
А, ну да. Это с моей памятью что-то не то))
FILETIME начинается с 01.01.1601, конечно же!

[2017-06-11 14:49] awa15 commented on #22
Фактически, это магическое число - дата 01.01.1601 0:00:00 в формате 1С.

[2017-06-11 15:26] andreevlex commented on #22
Будет константой `DATETIME_1600_YEARS_FORMAT_1C`

`0x7fffffff` - предел знакового положительного 32х битного целого?

[2017-06-11 18:31] awa15 commented on #22
Да, это INT_MAX, оно же LONG_MAX в 32 битных компиляторах. Не знаю, есть ли какая стандартная константа, не зависящая от разрядности компилятора. Что-нибудь типа _I32_MAX.
Если вдруг интересно, есть вот такая статья от злейшего бобра http://infostart.ru/public/250142/

[2017-06-12 04:58] andreevlex commented on #22
в <limits> есть define `MAX_INT`
Я сделал через `std::numeric_limits<int>::max()`

[2017-06-12 08:10] andreevlex opened #36 "Ошибка определения абсолютного пути к файлу базы"
При отладке указываю в параметрах
`-eax ~/dev-pro/testctool1cd/1cv8ddb_xml ~/dev-pro/testctool1cd/1cv8ddb.1CD`

Получаю содержание переменной
[code]

[2017-06-12 22:40] dmpas commented on #22
Int32_max должен быть макрос

[2017-06-13 10:19] andreevlex opened #37 "Создать класс для работы с датой"
dmpas commented an hour ago

@andreevlex
вынеси работу с датой в отдельный класс, в нём же заведи константу. Переименуй константу 7fff, пространства имён пока оставь.

#35

[2017-06-13 11:36] dmpas commented on #36
определение абсолютного пути в большинстве случаев не имеет смысла и от него нужно избавиться.

[2017-06-14 18:12] andreevlex commented on #37
вот эти преобразования не реализованы в System.Classes
`LocalFileTimeToFileTime(&lft, ft);`
[code]
И вообще как-то все странно
`V8timeToFileTime`
не модифицирует переменную ft.

[2017-06-14 18:40] andreevlex commented on #37
Про UNIX время забыли еще
https://stackoverflow.com/questions/6161776/convert-windows-filetime-to-second-in-unix-linux

[2017-06-14 18:47] andreevlex commented on #37
@dmpas

[code]
Все это windows зависимое.
Надо отдельно прописать для разных систем трансформацию времени в v8time

[2017-06-14 19:25] dmpas commented on #37
Да, это всё не реализовано. Windows-зависимое переделываем на что-нибудь кросс-платформенное. Или вообще выпилить, если есть вариант сделать проще.

[2017-06-16 19:40] andreevlex commented on #37
boost Struct FILETIME
http://live.boost.org/doc/libs/1_58_0/doc/html/boost/date_time/winapi/FILETIME.html

[2017-06-16 19:48] andreevlex commented on #37
boost date_time
http://live.boost.org/doc/libs/1_64_0/doc/html/date_time/doxy.html

[2017-06-18 08:04] andreevlex commented on #37
Время в формате Filetime используется для задания времени файла, а это спецично для файловой системы, кроссплатформенности не получается.

[2017-06-18 21:25] fishca opened #43 "Выгрузка blob"
![19_06](https://user-images.githubusercontent.com/1484649/27264306-76d5d986-5484-11e7-8d5a-06c22a41fba4.png)
Из-за этого изменения выгрузка
![19_06_1](https://user-images.githubusercontent.com/1484649/27264384-c40dacf0-5485-11e7-9580-2cf883621d49.png)
формируется неправильно.

[2017-06-19 03:30] dmpas commented on #43
а правильно как?

[2017-06-19 06:00] andreevlex commented on #43
были guid вместо имен с частями в виде цифр в конце, но данная проверка не ломает - это защита. Проблема где-то в вызывающем коде.

Думаю вот эта проверка сломала
https://github.com/dmpas/tool1cd/commit/439acfae28a3328f77ac1b9bc1e5a9008e7e9848
https://github.com/dmpas/tool1cd/pull/7

[2017-06-19 07:32] fishca commented on #43
w_src - здесь в виде строки guid, limit_size == 0, соответственно условие не срабатывает.
возвращается пустая строка

[2017-06-19 07:40] dmpas commented on #43
если `limit_size == 0`, то должна быть пустая строка - я на это уже в каком-то другом месте нарвался и потому так и запилил.

[2017-06-19 10:44] fishca commented on #43
При этом распаковка падает на EXTERNALS на файле хранилища, который я выкладывал.
Если limit_size убрать, то распаковка происходит успешно

[2017-06-19 10:53] andreevlex commented on #43
Это значит, что цикл должен выполнится хоть раз для успешной распаковки, а мы его проверкой превращаем в пустую строку.

[2017-06-19 11:06] dmpas commented on #43
чо??

[2017-06-19 11:15] andreevlex commented on #43
Я к тому, что надо отладкой смотреть какой код вызывает этот и решать проблему там, а не править один участок.
Надо много дебага, чтобы выявить все ситуации.

[2017-06-19 11:21] dmpas commented on #43
не надо много дебага. Случаев вызова именно этого конструктора не так уж и много.

[2017-06-19 11:23] andreevlex commented on #43
Вот тут выясняли почему надо проверять `limit_size > 0`
https://github.com/dmpas/tool1cd/pull/24

[2017-06-19 12:21] fishca commented on #43
String GUIDasMS(const unsigned char* fr)
{
	int i, j;
	WCHART buf[37];
	WCHART sym;
...
return buf; <--- здесь вызывается конструктор String() (String::String(const WCHART *w_src, int limit_size))
при этом limit_size соответственно нулевой.
}
т.е. надо все такие вызовы переделать на правильный вызов конструктора, я правильно понимаю?

[2017-06-19 12:25] dmpas commented on #43
Тогда в String надо по аналогии с `char*` сделать два конструктора для `WCHART`, чтобы не было вот этого со значением по-умолчанию.

[2017-06-20 18:27] #23 closed

[2017-06-26 15:39] #17 closed

[2017-06-27 17:18] andreevlex commented on #32
Мы тут решили проблему с пустыми файлами при выгрузке?

[2017-06-27 17:19] andreevlex commented on #43
Мы решили проблему с именами файлом с GUID в имени?

[2017-06-27 17:40] andreevlex opened #50 "Ошибка распаковки поля EXTDATA таблицы EXTERNALS при установленных параметрах ActionXMLSaveBLOBToFileChecked = true ActionXMLUnpackBLOBChecked = true"
При распаковке таблицы `EXTERNALS` файла 1cv8ddb по ключу `-eax`
программа падает на строке
[code]
Стэк
`m_position = -1944278050`
`toRead = 1944286741`

Список вызовов
[code]
Причина в этом куске кода
[code]
`_fat->GetSize()  = 24`
`countfiles = 2`
Вот на второй итерации грохается.

[2017-06-27 18:28] andreevlex commented on #50
В двух проверенных файлах
`_fat->Read(&_fi, 12);` выдает на первой итерации.
`_fi = Details:{header_start = 2147483647, data_start = 512, ff = 1}`

а судя по определению
[code]

[2017-06-27 19:22] andreevlex commented on #50
В двух проверенных файлах
`_fat->Read(&_fi, 12);` выдает на первой итерации.
`_fi = Details:{header_start = 2147483647, data_start = 512, ff = 1}`

а судя по определению
[code]

[2017-06-27 19:32] andreevlex opened #51 "Изменить код использующий ZInflateStream"
Использование ZInflateStream обрамляется в try блоки, но данная функция не генерирует исключений и код, который ее использует подобным образом работает не правильно.

[2017-06-27 20:29] fishca commented on #50
у меня как раз на этом и падает

[2017-06-27 20:32] fishca commented on #43
да, это починилось изменением вызова конструктора
return String(buf, GUID_LEN+1); в Common.cpp

[2017-06-27 20:33] fishca commented on #32
да, данные выгружаются, единственная проблема с распаковкой в EXTERNALS сейчас

[2017-06-28 16:42] andreevlex commented on #51
@dmpas почему не используем класс `ZStreamBase`

[2017-06-28 16:44] dmpas commented on #51
не знаю. Исторически так как-то сложилось. На старте были какие-то сложности с злибом (изначально вообще на аббревиа всё было), потом что-то поправили, что-то переделали. Тут может @fishca подскажет?

[2017-07-05 15:56] andreevlex opened #55 "Исправить кодировку сообщение выводимых в консоль"
В Windows в консоль выводятся мусор.
Необходимо исправить кодировку текста, который выводиться в консоль.

[2017-07-05 19:44] fishca commented on #55
в винде консоль кривая просто, используй нормуль консоль в виде ConEmu и будет счастье :)

[2017-07-05 19:46] andreevlex commented on #55
Мы будем использовать. А другие как?

[2017-07-05 20:47] fishca commented on #55
пусть все остается в Unicode как есть, кому надо тот поправит кодировку в консоли

[2017-07-07 07:18] andreevlex commented on #55
можно справиться и с обычной консолью.
последовательность команд
[code]
выдает все норм.

последовательность команд
[code]
выдает мусор.

последовательность команд
[code]
выдает норм, кроме команды
[code]

[2017-07-07 08:01] dmpas commented on #55
Какой-то из исходников не в утф-8???

[2017-07-07 08:05] andreevlex commented on #55
в `cTool_1CD_Main.cpp` есть такой код
[code]
В нем причина.

[2017-07-07 10:27] dmpas commented on #55
Если сам файл в утф-8, то с ним не должно быть косяков при chcp 65001

[2017-07-07 14:36] andreevlex commented on #55
в сборке из github тоже такая ерунда.
Файл utf-8 другие редакторы тоже видят нормально.

[2017-07-14 18:27] ava57r commented on #50
Поднялся выше по стэку вызова
Падает при попытке сохранить поле
`<Field Name="EXTDATA" Type="image" Length="0" Precision="0"/>`

[2017-07-15 11:03] ava57r opened #58 "Неправильная обработка параметров командной строки (ParseBlob,BlobToFile)"
При вызове команд
T1CD_cmd_export_all_to_xml
T1CD_cmd_export_to_xml

Производится анализ параметров
[code]

Также данные параметры анализируются в функции main
[code]
Получается 2 несвязанные проверки.

[2017-07-15 11:22] #51 closed

[2017-07-15 15:27] ava57r commented on #50
Нашел причину

[code]
Законтировал проблемную строку.
Поток уже спозиционирован, а тут его мы сбрасываем в начало и читаются не данные, читается заголовок.
Это изменение добавили мы, предлагаю посмотреть историю с конца мая.

[2017-07-16 16:08] ava57r commented on #50
Распаковка до конца все равно не проходит.
Падает на сохранении в файлы
[code]

[2017-07-17 10:03] fishca commented on #50
Очень похоже что этот код в разных местах чтения должен по разному позиционироваться. И эту строку вроде как я добавлял, надо посмотреть.

[2017-07-17 12:11] ava57r commented on #50
Позиционирование возложено на вызывающий код, внутри метода делать это не надо.
вот пример
[code]
Данный метод спозиционировал поток перед копированием.

[2017-07-31 06:53] dmpas commented on #32
@fishca  проверь сборку https://ci.appveyor.com/project/dmpas/tool1cd/build/1.0.0.81/artifacts

[2017-07-31 10:37] dmpas opened #61 "Экранировать имена файлов BLOB-ов"
Для регистров сведений имя файла BLOB поля содержит в себе значения измерений. Соответственно, там могут быть символы, недопустимые в имени файла.

Необходимо продумать, как сохранять такие BLOB-ы

[2017-08-01 06:07] #32 closed

[2017-08-01 07:33] dmpas commented on #43
@fishca проверишь, проявляется ли проблема на последней сборке?

[2017-08-01 11:58] fishca commented on #43
Проблема исправлена

[2017-08-01 12:01] fishca commented on #61
Надо что-то реализовывать типа какой-то структуры хранения соответствия имени файла (которое будет в файловой системе только с допустимыми символами) и реального имени файла, которое можно хранить в отдельном файле в виде текста.

[2017-08-01 12:03] #43 closed

[2017-08-01 12:04] dmpas commented on #61
мм, `renames.txt`. где-то я это уже видел :trollface:

[2017-08-01 12:43] fishca commented on #61
он самый, да.

[2017-08-06 06:00] #58 closed, assigned to nobody

[2017-08-06 06:24] ava57r commented on #50
PR #63 исправил проблему

[2017-08-06 06:24] #50 closed

[2017-08-07 08:13] #16 closed

[2017-08-08 06:43] #55 closed

[2017-08-10 18:01] ava57r commented on #36
Командная оболочка все подстановочные символы заменяет и пути попадают в аргументы развернутыми.
В IDE такое делать не надо.

[2017-08-10 18:01] #36 closed

[2017-08-15 17:48] ava57r opened #66 "Ошибка выгрузки конфигурации из хранилища версии 7 по ключу -drc"
[code]
[depot_ver7.zip](https://github.com/dmpas/tool1cd/files/1225871/depot_ver7.zip)

[2017-08-15 19:18] dmpas commented on #66
у меня сработало.

[2017-08-15 21:00] dmpas commented on #66
Параметры запуска проверь

[2017-08-16 06:37] ava57r commented on #66
У меня тоже пишет, что выгрузка прошла, но загрузить такую конфигурацию в конфигураторе не получается, пишет "Нарушена целостность ..."

выгружаю последнюю версию
`-drc 0`
там в каталоге data/objects/cb лежит файл необходимый, а поиск идет в каталоге data/objects
`cb` присуствует в переменной перед получением имени вот так `cbd77c497e1adcf0d71d0daeb2dad35a43c2b7a6`
В коде используется имя без этог

[2017-08-16 08:50] dmpas commented on #66
У меня даже ошибки не выдало, которая у тебя.

[2017-08-16 08:51] ava57r commented on #66
а тестил на моем файле? Я его приложил к задаче.

[2017-08-16 08:51] dmpas commented on #66
да, на нём и тестил.

[2017-08-16 12:17] ava57r commented on #66
а выполнение на строку https://github.com/dmpas/tool1cd/blob/develop/src/ctool1cd/Class_1CD.cpp#L2919 попадает?
чему равен `boost::filesystem::path current_object_path`

[2017-08-16 12:35] dmpas commented on #66
Дома буду - гляну.

[2017-08-16 17:10] ava57r commented on #66
Поправил, теперь все без ошибок, но только для версии 7.
У кого-нибудь есть версия 6?

[2017-08-16 18:13] dmpas commented on #66
твой коммит не объясняет, почему у меня на твоих данных сработало.

[2017-08-16 19:26] dmpas commented on #66
воткнул в ту строчку `std::cout << "I'm here!" << std::endl;`

[code]

то есть, доходит. Свежесобранный девелоп.

[2017-08-17 09:08] ava57r commented on #66
Неа, я привел инфу из файла логов, а вот там как раз ошибка.
Проверь пожалуйста файл логов.

[2017-08-17 17:51] dmpas commented on #66
Ха! а там есть ошибка!

[2017-08-18 11:11] ava57r commented on #66
Вот.
Необходима версия хранилища 6.
Если изменилась структура каталогов, то изменений будет больше.

[2017-08-29 17:37] ava57r commented on #66
Создал хранилище версии 6 в 1С:Предприятие 8.3 (8.3.4.365)
Проверил выгрузку конфигурации и загрузку ее в чистую базу.
[depot_ver6.zip](https://github.com/dmpas/tool1cd/files/1261131/depot_ver6.zip)

[2017-08-29 18:18] ava57r opened #69 "Ошибка выгрузки конфигурации из хранилища версии 6 по ключу -DumpPartDepotConfig"
[code]

[2017-08-30 11:28] ava57r commented on #66
Архив depot_ver6.zip не полный. Вечером приложу корректный.

[2017-08-30 16:08] ava57r commented on #66
[depot_ver6.zip](https://github.com/dmpas/tool1cd/files/1264281/depot_ver6.zip)

[2017-09-01 18:04] #66 closed, assigned to nobody

[2017-09-01 19:18] #8 closed

[2017-09-10 07:52] ava57r commented on #30
[code]
@awa15
вот тут в последнем условии сравнивается ROOTOBJID из файла DEPOTxml и SNAPSHOTMAKER из файла VERSIONS.xml
У меня эти поля никак не совпадают.

[2017-09-10 21:21] awa15 commented on #30
Сорри, я лежу в больнице, и в связи с этим ничего сказать не могу.

[2017-09-11 17:03] ava57r commented on #30
@awa15 Скорейшего выздоровления.

В 7 версии хранилища в снапшоте действительно лежит готовый файл конфигурации.
Проверено.

[2017-09-20 06:11] #30 closed

[2017-09-20 06:18] ava57r commented on #28
Разрабы C++ Builder нормальные парни
https://www.viva64.com/ru/t/0072/ - Бесконечный цикл
В Qt тоже используют знаковые типы.

[2017-09-20 08:42] ava57r commented on #2
Может обновим статусы переноса функционала, что у нас точно работает из перечисленного?

[2017-09-20 09:14] dmpas commented on #2
Вот только утром про это думал. Надо обновить, конечно же.

[2017-09-26 20:02] ava57r commented on #2
DumpDepotConfig - проверено на версиях 5, 6, 7 со снапшотами и без
Выгруженные конфигурации успешно загрузились в 1с-ку

[2017-09-26 20:09] ava57r opened #73 "Не выгружаются блобы для хранилищ версий 6 и 7"
Все поля на блобы = `<OBJDATA>{NULL}</OBJDATA>`
[depotv6.zip](https://github.com/dmpas/tool1cd/files/1334805/depotv6.zip)
[depotv7.zip](https://github.com/dmpas/tool1cd/files/1334807/depotv7.zip)

надо протестировать

[2017-09-26 20:11] ava57r commented on #73
вызываю так
[code]

[2017-09-27 06:27] dmpas commented on #73
они там точно должны быть?

PS я вот со страхом смотрю на каталог `pack` - уж не гитовский ли это pack-файл?..

[2017-09-27 06:41] ava57r commented on #73
Не знаю должны ли быть.
GUID' ы есть вероятно и блобы должны быть.
Поразбираюсь может изменился принцип хранения блобов.

Организация каталогов похожа на гитовые) особенно data/objects == .git/objects

[2017-09-27 06:49] dmpas commented on #73
вот мне тут на днях на глаза попалось хранилище, где в `data` пусто, зато есть `pck` и `idx` - прям, как в гите. Так что я на досуге покуриваю книжку git-pro, чего и тебе советую :) ну и пару раз собрать ручками libgit2 - тоже приключение, если под винду.

[2017-09-27 20:06] ava57r commented on #73
По методу save_depot_config видно, что с 6 версии хранилища блобы, на которые ссылаются записи таблиц HISTORY и EXTERNALS хранятся в каталоге `data/objects`.
Имена файлов в objects - это хэши.
В HISTORY и EXTERNALS появилась запись для каждого объекта.
Например
[code]
нужный файл лежит в `data/objects/28/ee280565c795ac762e90a756e921ea63d618e3`

[2017-09-28 06:03] ava57r opened #74 "Реализовать метод CreateGUID"

[2017-09-28 06:04] dmpas commented on #74
Зачем?

[2017-09-28 06:10] ava57r commented on #74
Предлагаешь отказаться от его использования?

[2017-09-28 06:12] dmpas commented on #74
В смысле, он у нас уже есть, только не работает? Тогда надо :)

[2017-09-28 06:18] ava57r commented on #74
Да в теле стоит `TODO` и все.
Всегда формируется пустой GUID.
Используется при выгрузке конфигурации по ключу DumpDepotConfig
1с-ку устраивает и пустой GUID, но ведь для чего-то он там нужен)

[2017-09-29 17:56] ava57r opened #76 "Создать отдельный класс для работы с файлами pck и ind"
Создать класс для работы с файлами из каталога `data/pack` хранилища конфигурации версий 6 и 7

[2017-10-04 07:35] #74 closed, assigned to nobody

[2017-10-05 06:55] ava57r commented on #73
в итоге нам нужна функциональность по выгрузки блобов и парсингу их из хранилищ выше 5 версии?

[2017-10-05 07:14] dmpas commented on #73
Скорее всего понадобится, но не в первую очередь. Так что задачку оставь.

[2017-10-08 19:09] #76 closed, assigned to ava57r

[2017-10-10 09:09] ava57r opened #81 "Разобраться с наследованием в TableFileStream и TV8FileStream"
Большинство методов этих классов указаны как virtual, но не все перепределяют методы базового класса (типы формальных параметров не совпадают).
Надо разобраться какие переопеределяют, а какие замещают

[2017-10-11 17:47] ava57r opened #82 "Реализовать сервисный класс для выгрузки конфигурации хранилища"
реализовать класс для сохранения конфигурации хранилища
метод `save_depot_config`
метод `save_part_depot_config`
Эти два метода в сумме 1460 строк

[2017-10-11 17:48] dmpas commented on #82
жесть...

[2017-10-11 18:03] ava57r commented on #82
да вот и я листал, листал туда сюда.
Два метода дублируют функциональность и проверки.
Начал пробовать бить на части прямо в 1CD, но выглядет это страшно `read_record_table_depot` и тому подобное.
Буду делать отдельного "Сапожника" для выгрузки конфы.

Тут вот еще ищу альтернативу `new char[]`
в коде куча адресной арифметики с `rec+field->offset`
чем ее заменить?

[2017-10-11 18:05] dmpas commented on #82
пока ничем. ибо тут именно работа с двоичными данными.

[2017-10-23 18:53] ava57r opened #83 "TODO: Tasks list"
| Text | Type | Path |
|------|------|--------|
| 0x3ff000 в константу | __TODO__ | [src/tool1cd/V8Object.cpp](src/tool1cd/V8Object.cpp) |
| 10МиБ в константу | __TODO__ | [src/tool1cd/Class_1CD.cpp](src/tool1cd/Class_1CD.cpp) |
| 31 в константу | __TODO__ | [src/tool1cd/cfapi/V8Catalog.cpp](src/tool1cd/cfapi/V8Catalog.cpp) |
| адовый костыль с утечкой памяти | __TODO__ | [src/tool1cd/FieldType.cp

[2017-10-24 06:00] dmpas commented on #83
`System.Classes` я пощёлкаю.

[2017-10-24 19:23] ava57r commented on #83
Fixed tasks:

|	Описание    |	Файл  |	Путь
|	--- | --- | --- |
|	~~реализовать GetTickCount()~~	|	~~System.Classes.cpp~~	|  ~~GetTickCount()~~  |
|	~~реализовать FindClose~~	|	~~System.SysUtils.cpp~~	|   ~~FindClose~~   |
|	~~реализовать FindFirst~~	|	~~System.SysUtils.cpp~~	|   ~~FindFirst~~   |
|	~~реализовать FindNext~~	|	~~System.SysUtils.cpp~~	|   ~~FindNext~~    |
|	~~реализовать получение в

[2017-10-25 12:43] dmpas opened #89 "Перевести `IMessageRegistration` на вариативный шаблон."

[2017-10-25 19:02] ava57r opened #90 "Создать класс Tool_1CD_Main"
Реализовать класс для работы в консоли.

[2017-10-27 19:03] ava57r opened #94 "Заменить класс DynamicArray на vector"

[2017-10-30 20:39] fishca commented on #22
1 января этого года (1601-01-01) является началом отсчёта для некоторых форматов хранения даты и времени в Microsoft Windows — для свойств файлов (структура FILETIME) - т.е. это специфическая дата именно для Windows. Лучше приводить к UTC, если мы хотим кроссплатформенности?

[2017-10-30 20:48] fishca commented on #22
В Linux, если я правильно понял дата файла будет отсчитываться от 1 января 1970 года. Соответственно надо корректировать в зависимости от местонахождения кода.

[2017-10-31 07:57] dmpas opened #96 "Убрать PublicRelease"
У нас теперь всё PublicRelease и логика должна быть одна.

[2017-10-31 16:46] ava57r commented on #96
Я тоже вчера думал про это.

[2017-10-31 16:53] ava57r commented on #22
Я так понял дата в файле 1CD в своем формате хранится, а вот когда мы будем писать время файла, то надо в зависимости от операционки.

[2017-11-01 09:46] fishca commented on #22
Есть в коде чтение даты/времени файла 1CD, там идет четкая привязка к полям. Т.е. на винде это будут одни поля со значениями, в случае создания файла 1CD в Линухе это уже совсем другая структура получится. Тут надо либо экспериментировать и смотреть как 1С это реализовала на разных осях, либо отказываться от кроссплатформенности. Хотя при создании в среде Линух-а 1С могла и сохранить формат даты к

[2017-11-01 09:53] dmpas commented on #22
дата в 1С - одна дата
структура даты в линухе - вторая дата
структура даты в винде - третья дата

кроссплатформенность никуда не девается, ifdef-ы нас спасут.

[2017-11-04 19:23] #96 closed, assigned to nobody

[2017-11-08 06:08] dmpas opened #103 "Модульные тесты"
Допилка с датой навела на мысль, что "пора". Пора покрывать модульными тестами подобный функционал, который глазом не проверить.

Накидывайте сюда ссылок на всякие тестовые движки для плюсов, будем выбирать подходящий.

/cc @fishca @andreevlex

[2017-11-08 09:38] ava57r commented on #103
**Gogle test**
https://github.com/google/googletest

Short example how to use Google Test with CMake project
https://github.com/snikulov/google-test-examples

Unit-тестирование и C++: что такое mock-объекты на примере Google C++ Mocking Framework
http://artlang.net/article/view/14/

[2017-11-08 11:49] ava57r commented on #103
Sample programs for using the Boost.Test unit testing framework
https://github.com/NigoroJr/boost-test-samples

[2017-11-08 14:51] andreevlex commented on #103
Unit-тестирование и C++: что такое mock-объекты на примере Google C++ Mocking Framework
http://artlang.net/article/view/14/

[2017-11-08 14:53] ava57r commented on #103
GUnit - GoogleTest/GoogleMock/Cucumber on steroids
https://github.com/cpp-testing/GUnit

[2017-11-08 20:09] ava57r commented on #103
CppUnit - The Unit Testing Library
http://cppunit.sourceforge.net/doc/cvs/index.html

[2017-11-08 20:13] ava57r commented on #103
CxxTest Unit Testing Framework - http://cxxtest.com
https://github.com/CxxTest/cxxtest

[2017-11-08 21:25] #94 closed, assigned to nobody

[2017-11-09 06:39] ava57r opened #108 "Подпроект: Анализ и обработка метаданных распакованной конфигурации"
в PR #105 были удалены файлы по проекту разбора метаданных распакованной конфигурации

[2017-11-09 06:40] ava57r opened #109 "Подпроект: Плагин для TotalCommander"
в PR #105 были удалены файлы по проекту плагина для Total commander

[2017-11-09 18:18] fishca commented on #108
Надо хорошенько подумать, есть ли смысл в простом объединении v8unpack и Tool1CD

[2017-11-09 18:19] fishca commented on #109
Думаю это лучше выделить в отдельный проект, который бы был связан с визуализацией (GUI)

[2017-11-11 20:25] ava57r opened #115 "Падает выгрузка конфигураций по ключу -DumpAllConfigs"
Падает при вызове деструктора `TableFiles::~TableFiles()`

[2017-11-12 18:14] #115 closed, assigned to nobody

[2017-11-13 19:47] #81 closed, assigned to nobody

[2017-11-14 08:34] artbear commented on #103
Очень крутое

https://github.com/catchorg/Catch2

A modern, C++-native, header-only, test framework for unit-tests, TDD and BDD - using C++11, C++14, C++17 and later (or C++03 on the Catch1.x branch)

[2017-11-14 08:39] dmpas commented on #103
@artbear ты его пробовал?

[2017-11-14 08:41] artbear commented on #103
сам еще не пробовал, но читаю записи очень опытного чела (15-20 лет) в С++, который его советует

[2017-11-14 08:43] dmpas commented on #103
ну, такие записи наверняка найдутся про каждую из вышеприведённых ссылок :)

[2017-11-14 08:46] artbear commented on #103
BDD и TDD одновременно не для каждой будут !

[2017-11-14 11:21] fishca commented on #103
дока (https://github.com/catchorg/Catch2/blob/master/docs/tutorial.md#top) выглядит заманчиво, предлагаю опробовать в действии

[2017-11-14 11:29] dmpas commented on #103
@fishca попробуй.

[2017-11-15 20:48] ava57r commented on #103
В Google Test есть библиотека Google mocking
Помогает эмулировать зависимости, типа как заглушки. Посмотрите есть ли в других такая тема

[2017-11-16 17:22] ava57r opened #122 "Заменить tohex на шаблоную функцию"

[2017-11-16 17:22] ava57r commented on #122
#121

[2017-11-17 19:39] #122 closed, assigned to ava57r

[2017-11-21 08:07] ava57r opened #125 "Удалить класс TStringBuilder"

[2017-11-21 08:21] dmpas commented on #125
Есть мнение, что в C++ построитель строк не нужен.

[2017-11-21 10:29] ava57r commented on #125
Хотел написать
Удалить класс...
Билдер для него делать не хотел

[2017-11-21 11:18] dmpas commented on #125
не уловил тонкий смысл твоей хокку

[2017-11-22 05:11] fishca commented on #69
Пробовал выгрузить просто основную конфигурацию по ключу (-dc) дошло до 39% и упало.  Надо понять из одного места ноги растут или нет.

[2017-11-22 05:23] fishca opened #128 "Не выгружается конфигурация по -dc, -DumpConfig <путь>"
Происходит падение на 30-40% прогресса выгрузки из файла 1Cv8.1CD. Возможно это проявление #69

[2017-11-22 06:25] dmpas commented on #128
@fishca ты много файлов перепробовал?

[2017-11-22 13:12] fishca commented on #128
Пробовал на  больших конфигурациях в основном, возможно в этом дело.

[2017-11-22 13:16] dmpas commented on #128
в v8unpack в своё время была проблема, что большие конфиги не разбирались.

[2017-11-22 17:46] ava57r commented on #69
Я думаю это разные проблемы.
В данной задаче выгружаются части конфигурации из хранилища.
Я проверил выгрузку хранилища версии 6 и сейчас проблемы с нен айдеными объектами нет.

[2017-11-22 19:55] ava57r opened #129 "Реализовать класс TableRecord"
Метод `Table::getrecord` возвращает указатель на массив char
Первый байт в массиве предположительно означает удалена запись или нет
`\001` - delete
`\0` - active

Необходим класс, чтобы скрыть это в реализации и не сравнивать каждый раз
`if(*rec)`
`if(!*rec)`
Например как тут:
[code]
Плюс класс должен скрыть работу и владение массивом char (RAII)

Реализовать методы получения частей записи по `off

[2017-11-23 07:55] #69 closed, assigned to nobody

[2017-11-24 09:58] dmpas opened #132 "Отказаться от using namespace System на глобальном уровне"

[2017-11-24 18:13] dmpas commented on #103
Впилили Catch2. Спасибо @artbear и всем причастным за наводку.

[2017-11-24 18:13] #103 closed, assigned to nobody

[2017-11-24 18:15] dmpas commented on #37
Мы будем класс пилить или оставим на текущем функционале?

[2017-11-24 19:24] ava57r opened #138 "Исправить hex_to_int(char* hexstr)"
Проверяются только первые 8 байт, а при использовании передаются массивы до 20 байт
[code]

тут вообще выход за границы массива получается.
[code]

[2017-11-25 08:27] ava57r opened #139 "Создать проект библиотеки tool1cd"

[2017-11-25 08:34] ava57r opened #140 "Разбить файл APIcfBase на отдельные файлы для каждого класса"

[2017-11-25 08:45] artbear commented on #103
Ага, рад, что удачно зашло.

[2017-11-25 11:25] #139 closed, assigned to ava57r

[2017-11-26 15:25] ava57r commented on #37
если не будем, то в коде постоянно будем заниматься преобразованием туда сюда.
Думаю удобно будет скрыть реализацию этого под один классом.

[2017-11-26 15:53] dmpas commented on #37
@fishca ты ещё готов трудиться над этим вопросом? что скажешь про всё это?

[2017-11-27 08:03] dmpas commented on #138
`char*` надо на `std::string` поменять.

[2017-11-27 08:51] ava57r opened #145 "Перенести методы get_field, get_index в класс Table"

[2017-11-27 11:43] dmpas opened #147 "Заготовки для тестов"
В каталоге `tests` есть хранилища `depot*/depot`. Нужно для каждого из них отдельным файлом создать шаблон теста. В шаблоне должно быть только открытие файла хранилища.

[2017-11-28 06:39] ava57r commented on #147
модульных тестов?

[2017-11-28 06:46] dmpas commented on #147
да, модульных.

[2017-11-28 06:48] dmpas commented on #145
@andreevlex закрываем?

[2017-11-28 07:02] ava57r commented on #145
ага

[2017-11-28 07:02] #145 closed, assigned to ava57r

[2017-11-28 07:05] ava57r commented on #4
интеграционные тесты? =)

[2017-11-28 12:28] ava57r commented on #138
посмотрел по пристальнее =)
нашел ошибку, где ее нет.
везде, где используется в функцию передается указатель на элемент, а не целиком массив.
Тут главное границы массива не проверяются никак.

[2017-12-01 06:24] #138 closed, assigned to ava57r

[2017-12-01 08:19] ava57r opened #151 "Реализовать класс BlockHeader"

[2017-12-02 17:11] ava57r opened #155 "Реализовать bash_completion для консольного проекта"

[2017-12-02 17:40] ava57r commented on #151
почитал сырцы `v8unpack`
там есть реализация нужной функциональности.
с оглядкой на этот проект допилю и тул1цд.

[2017-12-11 20:11] ava57r opened #158 "Разобраться с назначением класса TMultiReadExclusiveWriteSynchronizer"
#156

[2017-12-12 10:15] #147 closed, assigned to ava57r

[2017-12-15 06:55] #90 closed, assigned to nobody

[2017-12-15 17:19] dmpas commented on #128
@fishca можешь описать подробнее, какую конфу брал и сколько вообще база размером была?

[2017-12-16 09:47] dmpas opened #160 "Матрица сборки на Appveyor"
- [ ] Не брать готовый буст - скачивать специально собранный
- [ ] Не собирать zlib - скачивать специально собранный

Компиляторы:
- [ ] MSVC
- [ ] mingw32
- [ ] mingw-w64 i686
- [ ] mingw-w64 x86_64

[2017-12-16 10:00] dmpas opened #161 "Лицензия"
Надо какую-то установить. Особенно, если гуй будет на Qt - он будет однозначно на GPL.

[2017-12-18 04:41] kostakoff opened #162 "Можно ли при помощи данного форка сбросить пароль Администратора?"
Можно ли при помощи данного форка сбросить пароль Администратора, по аналогии как тут: http://iantonov.me/page/kak-ubrat-parol-polzovatelja-v-1spredprijatie-8 ?

[2017-12-18 05:02] dmpas commented on #162
Нет. И графической части у нас пока что тоже нет.

[2018-01-11 19:03] ava57r commented on #161
Ты чаще всего какую используешь?

[2018-01-11 19:04] ava57r commented on #132
а мы еще не отказались? где надо поправить?

[2018-01-11 19:09] dmpas commented on #161
потому как я в большинстве своём тусуюсь вокруг односкрипта, то применяю MPL2. Но именно тут лично я бы голосовал за GPL.

[2018-01-11 19:13] #132 closed, assigned to dmpas

[2018-01-11 19:19] ava57r commented on #161
Ну что GPLv3?

[2018-01-11 19:22] ava57r opened #165 "FIXME: Реализовать класс исключения для PackDirectory"

[2018-01-11 19:26] ava57r opened #166 "FIXME: Сделать одну функцию получения длины файла"
пофиксить в src/tool1cd/APIcfBase.cpp

[2018-01-12 07:28] dmpas commented on #161
Моё мнение: либа под LGPL, исполняемые части - под GPL. Но тут не только мы должны решать.

[2018-01-12 15:40] dmpas commented on #2
Отметил `DumpConfig` и `DumpDBConfig`. Вендорс чего-то у меня не сработал.

[2018-01-12 17:21] ava57r opened #167 "Избавиться от отношений между классами вида friend"

[2018-01-12 18:57] #166 closed, assigned to ava57r

[2018-01-12 19:11] ava57r commented on #22
основная магии подчищена

[2018-01-12 19:11] #22 closed

[2018-01-12 19:12] #18 closed

[2018-01-12 19:41] ava57r commented on #161
поддерживаю LGPL + GPL

[2018-01-12 19:55] ava57r commented on #165
https://github.com/dmpas/tool1cd/pull/112 - обязательные пустые каталоги

[2018-01-14 09:09] dmpas opened #170 "Создание снэпшотов"
Есть смысл попробовать создавать файлы снэпшотов средствами тул1д.

[2018-01-14 10:02] dmpas commented on #140
отдельный каталожек создать под это дело. Что-нибудь вроде `cfapi` или как-нибудь так.

[2018-01-15 09:00] #165 closed, assigned to ava57r

[2018-01-15 13:07] ava57r commented on #170
это как?

[2018-01-15 13:16] dmpas commented on #170
Тьфу. Средствами тул1сд

[2018-01-15 13:32] ava57r commented on #140
да можно.

[2018-01-16 05:26] fishca commented on #128
[Debug.zip](https://github.com/dmpas/tool1cd/files/1633719/Debug.zip)
Последняя сборка ctool1cd со всеми моими файлами 1Cv8.1CD - БД 1С справилась, как с маленькими так и с большими без проблем.

Неудачей завершается сохранение конфигурации из файла хранилища 1cv8ddb.1CD. Во вложении файл хранилища и лог

[2018-01-16 09:49] #140 closed, assigned to ava57r

[2018-01-16 10:06] fishca commented on #170
снэпшот == кэш ?

[2018-01-16 10:08] fishca commented on #37
Думаю надо в эту сторону двинуться

[2018-01-16 15:35] dmpas commented on #170
@fishca ага

[2018-01-17 21:01] fishca commented on #128
Похоже ключ -dc к файлам хранилища не применим и это надо указать в описании команды.
Для работы с файлом хранилища и выгрузки конфигурации надо использовать -drc

[2018-01-18 06:57] dmpas commented on #128
именно так и есть. Почему-то мне это было очевидно, если честно

[2018-01-19 07:15] ava57r commented on #167
`дружных классов` много - в один присест не избавиться.

[2018-01-19 07:20] ava57r commented on #128
значит что? правим описание и делаем проверку в коде `ай-яй так нельзя` ?

[2018-01-19 07:27] ava57r opened #173 "Протестировать функционал DumpVendorsConfigs"
#2

[2018-01-19 08:04] dmpas commented on #128
таки я не понял, изначально-то проблема именно в этом и была? что пробовалось `-dc` на базе хранилища? или что?

[2018-01-19 08:05] dmpas commented on #167
да они там чуть ли не все повязаны!

[2018-01-19 08:48] ava57r commented on #167
значит это задача как эпик и будем дробить на этапы

[2018-01-19 17:57] ava57r opened #174 "TODO: Реализовать GetBufferEncoding"
#173  - при тестировании выявлена не реализованая функциональность
`TEncoding::GetBufferEncoding` используется в `get_treeFromV8file`

[2018-01-19 18:14] ava57r commented on #174
Дока на метод [TEncoding.GetBufferEncoding Method](http://docs.embarcadero.com/products/rad_studio/delphiAndcpp2009/HelpUpdate2/EN/html/delphivclwin32/SysUtils_TEncoding_GetBufferEncoding.html)

[2018-01-19 19:29] dmpas commented on #174
сам попробуешь или мне запилить по-быстрому?

[2018-01-19 19:42] ava57r commented on #174
example source https://github.com/graemeg/freepascal/blob/master/rtl/objpas/sysutils/sysencoding.inc#L206

[2018-01-19 19:42] ava57r commented on #174
если ты сегодня запилишь давай =)

[2018-01-19 19:44] dmpas commented on #174
@andreevlex там GPL, так что осторожнее, подглядывая код :) мы же ещё не определились с лицензией.

[2018-01-19 19:46] dmpas commented on #174
к утру запилю. насчёт "сегодня" не уверен.

[2018-01-19 19:46] ava57r commented on #174
Показывать то зачем если трогать нельзя? )

[2018-01-19 19:49] dmpas commented on #174
трогать можно, по подцепишь GPL

[2018-01-19 19:57] ava57r commented on #174
`подцепишь` звучит не очень)

[2018-01-20 08:59] #174 closed, assigned to nobody

[2018-01-20 09:00] dmpas commented on #173
У меня начали выгружаться.

[2018-01-20 09:09] ava57r commented on #173
Я тогда сегодня ещё погоняю, заметил там есть не проверенные указатели,которые вызваю ошибку сегментации памяти, переведу эти проверки на detailed exception

[2018-01-20 12:48] ava57r opened #176 "Перенести метод save_supplier_configs в класс SupplierConfig"

[2018-01-20 12:59] ava57r opened #177 "Перенести get_treeFromV8file в класс v8file"

[2018-01-20 13:32] ava57r opened #178 "Добавить тесты для DumpVendorsConfigs"
* [x] База, в которой есть конфигурация поставщика и нет кода из типовых
* [x] Тесты выгрузки

[2018-01-20 13:33] ava57r commented on #178
#4

[2018-01-20 13:36] #173 closed, assigned to ava57r

[2018-01-20 13:40] ava57r commented on #2
Поставил
- DumpVendorsConfigs
- DumpAllConfigs

[2018-01-20 14:04] #177 closed, assigned to ava57r

[2018-01-20 14:05] dmpas commented on #2
Юхууу! функционал переколбашен! Остальные косяки - отдельными задачками.

[2018-01-20 14:05] #2 closed

[2018-01-20 14:05] dmpas commented on #176
SupplierConfig ?

[2018-01-20 14:07] ava57r commented on #176
есть такой в `Class_1CD.h`
[code]

[2018-01-20 16:50] #176 closed, assigned to ava57r

[2018-01-20 17:38] ava57r opened #181 "Декомпозировать метод T_1CD::add_supplier_config(TableFile* tf)"

[2018-01-23 17:18] ava57r commented on #28
кода обозначенного в задаче уже нет в UZip.cpp

[2018-01-23 17:18] #28 closed

[2018-01-23 17:24] ava57r commented on #37
ну что надо делать раз решили.
Я начинаю разбираться.

[2018-01-23 17:30] ava57r opened #182 "Избавиться от типов TBytes и Byte"

[2018-01-23 18:29] ava57r commented on #89
При распаковке пакета порядок аргументов не определен и они будут произвольном порядке
конструкция `const String& parname1, const String& par1` может не прокатить

[2018-01-23 18:47] ava57r opened #184 "убрать friend у v8file, v8catalog, TV8FileStream"

[2018-01-23 18:47] ava57r commented on #184
#167

[2018-01-23 19:54] #182 closed, assigned to ava57r

[2018-01-23 19:56] dmpas commented on #89
Можно std::pair попробовать

[2018-01-24 08:43] fishca commented on #128
именно так

я за

[2018-01-25 12:51] dmpas opened #185 "Свой TStream для Packdata::get_data"
get_data отдаёт TTempStream, который по сути создаёт ненужный временный файл. Можно отдавать TStream, который будет считывать данные сразу из pck-файла.

[2018-01-25 17:57] ava57r commented on #89
а может класс Message?

[2018-01-25 18:35] dmpas commented on #89
Возможно...

[2018-01-28 07:39] #128 closed, assigned to fishca, ava57r

[2018-01-30 07:06] dmpas commented on #129
TableRecord в некотором виде появился.

[2018-01-30 07:06] #129 closed, assigned to nobody

[2018-01-30 11:09] dmpas commented on #73
Эту пока закроем. Блоба в самой базе нет - выгружать не надо.

[2018-01-30 11:09] #73 closed, assigned to nobody

[2018-02-02 10:23] dmpas opened #190 "GUI"
В пред-релизе в режиме только для чтения будет достаточно.
Минимум:
  * [x] список таблиц
  * [x] содержимое таблиц
  * [x] выгрузка конфигураций

[2018-02-03 15:39] ava57r commented on #61
Ну ка расскажите, где там не допустимые символы?

[2018-02-03 17:05] dmpas commented on #61
В  регистре сведений строковое измерение и какой-нибудь блоб. В регистр сведений забей в строковый реквизит символы :/*% и попробуй экспортировать в xml с блобами.

[2018-02-04 14:14] #184 closed, assigned to nobody

[2018-02-05 19:27] fishca opened #194 "Работа с конфигурацией формата 8.3.8"
https://github.com/dmpas/tool1cd/blob/07b382fefef5be7583338fb8a7f77177f3a6d2ac/src/tool1cd/V8Object.cpp#L364 - надо проверить при работе с базой формата 8.3.8

[2018-02-06 09:07] dmpas opened #195 "Добавить ZLIB подмодулем"
Задрало пересобирать под разные компиляторы.

[2018-02-07 20:07] ava57r opened #199 "Тесты для V8Time"
#198

[2018-02-08 05:46] #37 closed

[2018-02-10 14:56] #181 closed, assigned to ava57r

[2018-02-10 15:51] ava57r commented on #82
@dmpas класс не реализовали, но выгрузку основательно перетрясли.
Стоит пересмотреть или закрыть и сформулировать новую задачу?

[2018-02-10 17:28] dmpas commented on #82
Оставь. Суть в том, чтобы общий алгоритм обхода выделить

[2018-02-13 19:50] dmpas commented on #195
В топку

[2018-02-13 19:50] #195 closed, assigned to nobody

[2018-02-15 18:23] dmpas opened #204 "избавиться от `static_cast<std::string>`"
По возможности заменить везде `String` на ванильный `std::string`.

[2018-02-17 12:50] dmpas opened #206 "Сломал"
тут https://github.com/dmpas/tool1cd/blob/develop/src/tool1cd/Table.cpp#L169
[code]
и тут https://github.com/dmpas/tool1cd/blob/develop/src/tool1cd/ConfigStorage.cpp#L654

[2018-02-18 08:56] #206 closed, assigned to dmpas

[2018-02-18 09:37] dmpas opened #208 "Неверное владение объектом в SupplierConfigBuilder"
тут создаётся уник_птр:
https://github.com/dmpas/tool1cd/blob/develop/src/tool1cd/SupplierConfigBuilder.cpp#L127

тут передаётся владение объектом:
https://github.com/dmpas/tool1cd/blob/develop/src/tool1cd/SupplierConfigBuilder.cpp#L140

уник_птр убивает объект, а новый владелец потом садится в лужу при его использовании.

[2018-02-18 10:32] ava57r commented on #208
Согласен.

[2018-02-18 10:35] dmpas commented on #208
Проявляется при анализе конфигураций поставщика. Так что можно заодно и тест на это забабахать.

[2018-02-18 11:32] ava57r commented on #208
А тут другой вопрос, может стоит подумать о том чтобы переписать V8Catalog на владение потоком переданным ему в конструкторе?
Не сейчас конечно, а позже.

[2018-02-18 12:04] ava57r commented on #208
а у тебя прям падало?
Думаю как под это дело тест написать...

[2018-02-18 12:16] dmpas commented on #208
![default](https://user-images.githubusercontent.com/5665433/36351682-a3d49ad0-14be-11e8-91ce-11a5ece623a8.png)

сигсегв. Держи колстэк

[2018-02-18 12:18] dmpas commented on #208
тупо вызвать `T_1CD::supplier_configs()`

[2018-02-18 12:22] ava57r commented on #208
ммм
1. тестирую у себя выгрузку не той конфы
2. после багфикса поймал еще один сигсегв.

пошел разбираться.

[2018-02-18 12:32] ava57r commented on #208
Во еще одна ошибка связана с тем что V8Catalog считает поток своим и пытается подчистить за собой.

[2018-02-18 12:37] ava57r commented on #208
https://github.com/dmpas/tool1cd/blob/develop/tests/db838/db01/1Cv8.1CD что за конфа?

[2018-02-18 13:15] dmpas commented on #208
"разработка конфигураций с нуля" :). Один справочник, расширение с обработкой. Без конфы поставщика, сохранённая конфигурация отличается от конфигурации БД

[2018-02-18 14:26] ava57r commented on #208
пора редми к таким файлам писать

[2018-02-18 16:20] #208 closed, assigned to ava57r

[2018-02-18 16:49] ava57r opened #212 "Переписать V8Catalog для явной передачи владения потоком байт"
по мотивам -  #208

[2018-02-18 17:30] #178 closed, assigned to nobody

[2018-02-22 08:23] #89 closed, assigned to nobody

[2018-02-25 06:39] ava57r commented on #125
Сделано

[2018-02-25 06:39] #125 closed, assigned to nobody

[2018-02-26 17:37] #204 closed, assigned to dmpas

[2018-02-26 18:56] #151 closed, assigned to ava57r

[2018-02-27 13:34] dmpas commented on #83
@andreevlex надо бы освежить туду-шник

[2018-02-28 20:45] ava57r commented on #83
Обновил

[2018-03-03 12:58] ava57r opened #219 "Перенести логику проверки является ли файл "Каталогом" из V8Catalog::IsCatalog()"
в методе V8Catalog::IsCatalog() идет работа напрямую с массивом байт
[code]

[2018-03-03 13:01] ava57r opened #220 "Класс v8object внутреннюю реализацию скрыть, убрать `friend`"
#167

[2018-03-04 09:13] #220 closed, assigned to nobody

[2018-03-10 07:25] ava57r opened #222 "Убрать friend у MemBlock"
#167

[2018-03-10 07:43] ava57r opened #223 "Дополнить CONTRIBUTING.md описанием оформления методов доступа к полям класса (get, set)"

[2018-03-10 07:50] ava57r opened #225 "Убрать friend у Index"
#167

[2018-03-10 09:20] ava57r opened #226 "Сделать MemBlock нестатичным и добавить полем в T_1CD"
#224

[2018-03-10 18:55] #222 closed, assigned to ava57r

[2018-03-10 18:58] #225 closed, assigned to ava57r

[2018-03-10 18:59] dmpas commented on #226
Это нужно для гуёвой версии, которая работает с несколькими открытыми базами одновременно.

[2018-03-10 19:25] ava57r commented on #223
@dmpas @fishca

Как кто считает?
[code]

[2018-03-10 19:40] dmpas commented on #223
за 2, `get_` / `set_`

[2018-03-11 15:08] ava57r commented on #226
Тут надо потумкать.
В статических полях массив `MemBlock`'ов
Сам `MemBlock` представляет некое подобие связанного списка.
В статических полях содержаться указатели на начало и конец связанного списка

[2018-03-11 15:10] dmpas commented on #226
чего тут тумкать? Был один связный список, станет много, без статических полей.

[2018-03-11 16:00] ava57r commented on #226
Ну не скажи.
Если отдать список самому мемблоку, то получится мемблок владеет списом мемблоков, которые сами владеют списками мемблоков.

Надо сделать РаспределительМемблоков и от этого уже плясать.

[2018-03-11 16:02] ava57r commented on #223
С 3 вариантом я чего-то напортачил. Хотел так.
[code]

[2018-03-11 16:08] ava57r commented on #155
У нас консольный интерфейс устоялся может забросим шелл скрипт на примере unpack?

[2018-03-12 05:12] fishca commented on #223
я за второй вариант
// 2
int get_value();
void set_value();

[2018-03-12 18:49] #223 closed, assigned to nobody

[2018-03-23 07:55] #226 closed, assigned to nobody

[2018-03-23 20:10] ava57r opened #231 "Обновить описание сборки в плане поддержки проекта с GUI"

[2018-03-27 17:24] ava57r opened #232 "Убрать friend у Field"

[2018-03-27 17:24] ava57r commented on #232
#167

[2018-03-29 07:30] #232 closed, assigned to ava57r

[2018-03-29 17:43] ava57r opened #234 "Убрать friend у Table"
#167

[2018-03-30 06:46] #234 closed, assigned to ava57r

[2018-04-02 18:44] ava57r commented on #167
все, дружбе конец. Каждый сам за себя

[2018-04-02 18:44] #167 closed, assigned to nobody

[2018-04-02 19:05] ava57r commented on #185
Вот тут почитал, потом еще почитал.
Кажется решение использовать TempStream логично, так как выдерается кусок `pck` файла, ну как ни в темп его сохранять, а?

[2018-04-02 19:23] ava57r commented on #83
Обновил список. Надо почитать и сделать задачи.

[2018-04-03 18:13] #190 closed, assigned to dmpas

[2018-04-03 18:14] dmpas opened #236 "Вынести просмотр Blob в отдельный виджет"

[2018-04-04 18:53] dmpas opened #237 "Открывать контейнеры (cf, epf, ...)"
Наравне с базами открывать файлы внешних обработок, конфигураций.

[2018-04-05 10:54] dmpas opened #239 "Сборка гуёвого пакета под убунтой"

[2018-04-05 10:54] dmpas opened #240 "Посмотреть Qt installer"

[2018-04-06 07:48] ava57r opened #241 "Реализовать parse_flow с возвратом unique_ptr"

[2018-04-06 08:45] dmpas opened #242 "Подсветка синтаксиса при просмотре текстовых данных"
* [ ] код
 * [ ] XML
 * [ ] скобочки

[2018-04-06 08:46] dmpas opened #243 "Открытие внешнего редактора"
Открывать XML-BSL-Картинки внешней программой

[2018-04-06 18:58] ava57r commented on #199
что-то тестов не прдумывается, надо от FileTime структуры избавляться

[2018-04-07 09:22] ava57r commented on #241
@dmpas
Есть скольский момент
`SkobkaTreeModel` хранит ссылку на `Tree`
Есть реализация метода

[code]

Это же cast внутреннего указателя из `SkobkaTreeModel` ?

[2018-04-07 10:02] dmpas commented on #241
да, там в internalPointer хранится указатель на определённый узел дерева.

[2018-04-07 10:03] ava57r commented on #241
Имеено узел? не на модель?

[2018-04-07 10:04] dmpas commented on #241
именно здесь именно узел. На модель указатель получается просто через `model()`.

в Qt вообще всё построено на сырых указателях :(

[2018-04-07 11:05] #241 closed, assigned to ava57r

[2018-04-08 10:46] ava57r opened #246 "Проверка аргументов ссылочных типов конструктора на валидность"
1. Для локализации ошибок.
2. Устранение необходимости проверки на валидность после инициализации класса.

[2018-04-08 16:43] dmpas commented on #246
ничо не понял

[2018-04-08 20:12] ava57r commented on #246
Вот смотри
[code]

Вот надо проверку делать на старте, а если `nullptr`, то `argumentexeption`

[2018-04-10 15:21] #236 closed, assigned to dmpas

[2018-04-11 12:40] #237 closed, assigned to nobody

[2018-04-12 20:04] dmpas opened #251 "Влить SystemClasses в tool1cd"
В независимом существовании библиотеки SystemClasses нет никакого смысла.

[2018-04-13 17:10] #251 closed, assigned to dmpas

[2018-04-13 20:04] dmpas opened #253 "Определить зависимости"
определить минимальные версии пакетов, на которых можно 1) собраться и 2) запуститься

[2018-04-15 13:29] ava57r commented on #185
Так оставим или утебя мысли есть как сделать по другому?

[2018-04-15 16:27] ava57r opened #258 "Переписать работу с TableRecord"
в общем надо переписывать работу с tablerecord

    во многих местах получаем запись, а удалять не удаляем. Начал шарить все расссыпалось
    С tablerecord работаем как с массивом. не везде мы логику изменили.

в частности v8object считает tablerecord массивом байт

[2018-04-19 18:16] ava57r opened #263 "Попытка сохранения файла основной конфигурации с кирилическим именем сохраняет с неверной кодировкой имя"

[2018-04-19 18:23] dmpas commented on #263
а чо, консольная штука отрабатывает верно? мингв-шная сборка правильно отрабатывает?

[2018-04-19 18:42] ava57r commented on #263
не тестил, написал на чем нашел багу

[2018-04-19 18:50] dmpas commented on #263
ну просто ты плашку "гуй" повесил, а это не ошибка гуя, я думаю. ошибка либы.

[2018-04-19 19:54] ava57r opened #264 "Ошибка пребразования в TUtf8Encoding::Utf8"

[2018-04-20 05:37] EvilBeaver commented on #161
Не против

[2018-04-20 06:57] #264 closed, assigned to ava57r

[2018-04-20 07:00] ava57r opened #266 "Открытие файла базы с кирилическими символами в пути выдает ошибку"
Пытаюсь открыть через GUI.
Выдается ошибка:

`Файл не является базой 1С (сигнатура не равна "1CDBMSV8")`

Ошибка преобразования из QString.

[2018-04-20 12:40] dmpas commented on #240
Посмотрел, в топку. Будут msi, deb, AppImage и всякое такое.

[2018-04-20 12:40] #240 closed, assigned to nobody

[2018-04-21 04:47] ava57r commented on #263
Скачал артифакты сборки, такая же петрушка под gui.
проблема тут
[code]

[2018-04-21 04:52] ava57r commented on #266
Скачал артифакты сборки, такая же петрушка под gui.
проблема тут
[code]

[2018-04-21 04:54] ava57r commented on #266
Не умеем мы готовить `QString -> std::string`

[2018-04-21 07:24] dmpas commented on #266
дык его сам Qt должен уметь готовить..

[2018-04-22 21:30] dmpas commented on #266
Есть обход: в т1сд_класс и всяких прочих классах принимать вместо/вместе `std::string` - `boost::filesystem::path`. а `path` в зависимости от места вызова инициализировать или из `std::string`, или из `QString::toStdWString()` - это сработало, надо только красиво доделать.

[2018-04-23 17:30] dmpas commented on #239
AppImage

[2018-04-23 17:30] #239 closed, assigned to nobody

[2018-04-23 17:31] dmpas commented on #253
консольная часть : boost 1.53+, zlib 1.2.8+, cmake 2.8+
гуёвая часть: Qt 5.2.1+, cmake 3.1+

[2018-04-23 17:31] #253 closed, assigned to dmpas

[2018-04-23 17:56] #231 closed, assigned to nobody

[2018-04-24 18:13] ava57r commented on #263
может тестов добавим?

[2018-04-24 18:13] ava57r commented on #266
может тестов добавим?

[2018-04-24 19:31] dmpas commented on #266
Да, надо.

[2018-04-24 19:31] dmpas commented on #263
Тесты надо. Нет на них сейчас сил.

[2018-04-24 19:32] #161 closed, assigned to dmpas

[2018-05-06 08:11] #266 closed, assigned to nobody

[2018-05-14 12:05] ava57r commented on #263
А это мы не пофиксили?

[2018-05-14 13:01] dmpas commented on #263
@andreevlex не помню. может, из-за тестов не закрываем до сих пор :)

[2018-05-14 14:24] ava57r commented on #263
пойду проверю.

[2018-05-14 14:49] ava57r opened #275 "Добавить в меню пункт "закрыть базу" без выхода из программы"

[2018-05-14 14:52] ava57r commented on #263
Все норм

[2018-05-14 14:52] #263 closed, assigned to nobody

[2018-05-15 19:44] dmpas commented on #275
а что такое " <Закрыть базу> без выхода из программы" ? Открывать стартер при закрытии окна базы?

[2018-05-16 05:54] ava57r commented on #275
Вот хочу открыть новую базу, есть кнопка "открыть базу", при это начинается открытие выбранной базу, а ранее открытая тоже остается открытой.

Надо перед открытием новой предлагать закрыть уже открытую.

[2018-05-16 09:22] dmpas opened #277 "Разделить нумерацию версий"
Библиотека должна быть в 0.х.у, обвязки - в 1.0.у. Всё же API у нас костыльный и не стабильный.

[2018-05-17 11:44] dmpas opened #278 "Файловые ассоциации"
Открыть файл базы/контейнера.
Контекстное меню типа "Распаковать здесь", "Упаковать архив" для контейнеров
https://wiki.qt.io/Assigning_a_file_type_to_an_Application_on_Windows

[2018-08-14 17:25] DimonHyper opened #279 "Не запускается gtool1cd.exe"
При запуске выдаёт окно: Точка входа в процедуру CancelIoEx не найдена в библиотеке DLL KERNEL32.dll.

Операционка: Windows XP SP3.

[2018-08-14 17:54] dmpas commented on #279
@DimonHyper Qt 5.10 не поддерживает XP. Были планы делать поставку на 5.6.

[2020-03-02 07:39] gudvindll opened #280 "нет сортировки в списке таблиц"
Желательно бы добавить сортировку по Имени таблицы, размеру
Поиск по имени тому же самому
А если уж добавить фильтры так это вообще была бы песня.
Для поиска раздувшихся таблиц вышла бы весьма удобная утилита с привычным функционалом Tool1Cd)

[2020-03-02 09:41] dmpas commented on #280
сам мечтаю. Всё руки не доходят.

[2021-04-27 07:03] Uffik81 commented on #162
Надо будет заняться этим делом

[2022-07-07 17:06] #162 closed, assigned to nobody